.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .trucksContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    justify-content: center;
    width: 100vw;
    max-width: 1800px;
    padding: var(--base-up-2);
  }
}

@media only screen and (max-width: 1500px) {
  .container {
    .trucksContainer {
      grid-template-columns: 1fr;
      width: 70vw;
    }
  }
}

@media only screen and (max-width: 800px) {
  .container{
    .trucksContainer{
      width:100vw;
    }
  }
}
